<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="side.css">
    <link rel="stylesheet" href="nav.css">
   
</head>
<body>
    <%- include('../Components/side.ejs')%>
    <%- include('../Components/navbar.ejs')%>

  


   


 
    <div class="banner"  >
        <% track.map((trak)=>  { %>
            <div class="imgn"  >
                
                <img    src="<%= trak.imgs%>" alt="">
                <div style="color: white; margin-left: 30px; "><%=trak.name%></div>
                <div style="color: rgb(131, 116, 116); margin-left: 30px;"><%=trak.content%></div>

            </div>

      <%  }) %>
    </div>
</div>
</body>
</html>